footer
{
    height: 550px;
    background-image: url(../../assets/img/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    height: 150px !important;
    width: 200px !important;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    footer
    {
        height: 450px;
    }  
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    footer
    {
        height: 370px;
    }   
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }