<footer class="page-footer font-small pt-4 d-flex flex-column justify-content-end" id="Contacto">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 d-flex align-items-end">
              <ul class="navbar-nav h4 text-white">
                <li class="nav-item mb-3">Cóntactenos</li>
                <li class="nav-item">Calle 60 # 24a-40</li>
                <li class="nav-item">La estrella</li>
                <li class="nav-item">Coloquio</li>
                <li class="nav-item">Manizales-Colombia</li>
              </ul>
            </div>
            <div class="col-md-4 mb-4">
              <img class="w-75" src="../../assets/img/coloquio.png" alt="Logo de coloquio">
            </div>
            <div class="col-md-4 mb-4 d-flex align-items-end">
              <form class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="Su correo"
                  aria-label="Your email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-outline-white my-0" type="button">Subcribirse</button>
                </div>
              </form>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-white text-center py-3">© 2019 Copyright:
        <a href="#"> Jame Dev</a>
    </div>
    <!-- Copyright -->    
</footer>