

/* // Small devices (landscape phones, 576px and up "sm") */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up "md") */
@media (min-width: 768px) {
    .header {
        background-image: url(../../../assets/img/header_galeria.png);
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        height: 650px !important;
    }
}

/* // Large devices (desktops, 992px and up "lg") */
@media (min-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1188px) {
    .header{
        height: 1128px;
    }
}