<section class="container-fluid" id="Nosotros">
  <div class="row">
    <div class="d-none d-md-block col-md-6 col-lg-7 p-0 m-0 div_nosotros_1">
      <img class="h-100 w-100" src="assets/img/nosotros.jpg" alt="Nosotros">
    </div>
    <div class="col-12 col-md-6 col-lg-5 row p-0 m-0 d-flex align-items-sm-center justify-content-end flex-column div_nosotros_2">
      <div class="col-12 p-0 m-0 d-flex flex-column justify-content-between">
        <div class="d-flex flex-column align-items-center pt-4 pt-lg-5">
          <img class="w-25 mb-5" src="assets/img/coloquio.png" alt="">
          <h2>Nuestra historia</h2>
          <p class=" px-5 mb-lg-5 h-2 text-justify">Deleita tus sentidos con sabores, olores y colores en un ambiente romántico, donde se unen la historia, arquitectura y el sentir de nuestra cultura.
              Somos la esencia de la cocina tradicional que posee la fuerza de la historia, emanando sus vertientes
              indígena, negra y española con una mezcla de sabores que va más allá de la fantasía de un atardecer
              caribeño alucinado de música y romance en un balcón colonial cartagenero.
          </p>
        </div>
        <div class="d-flex align-items-end">
          <img class="w-100 m-0" src="assets/img/footer_nosotros.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
