<section class="d-flex align-items-center" id="Nosotros">
    <div class="row">
      <div class="col-12 col-lg-7 p-0 m-0 div_nosotros_1">
        <img class="h-100 w-100" src="img/nosotros.png" alt="Nosotros">
      </div>
      <div class="p-0 m-0 mr-0 col-12 col-lg-5 d-flex align-items-sm-center justify-content-end flex-column div_nosotros_2">
        <img class="w-25 mb-5" src="img/coloquio.png" alt="">
        <h2>Nuestra historia</h2>
        <p class="p-5 mb-5 h-2 text-justify">Deleita tus sentidos con sabores, olores y colores en un ambiente romántico, donde se unen la historia, arquitectura y el sentir de nuestra cultura.
            Somos la esencia de la cocina tradicional que posee la fuerza de la historia, emanando sus vertientes
            indígena, negra y española con una mezcla de sabores que va más allá de la fantasía de un atardecer
            caribeño alucinado de música y romance en un balcón colonial cartagenero.
        </p>
        <div class="mt-5 px-0 mx-0 div_nosotros_footer"></div>
      </div>
    </div>
  </section>
