nav{
  background-color: rgba(219, 207, 189, 0.99) !important;
  border: none;
  width: 100%;
}
nav ul li{
  margin: 0 10px;
}
nav ul li a{
  font-weight: bold;
  font-size: 20px;
}
p, h1, h2, h3, h4, h5 {
  font-family: "Times New Roman", Georgia, Serif;
}
a{
  color: white!important;
}
.logo
{
  position: relative;
    top: 34px;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img
{
  width: 100px;
  height: 100px;
}


/* Estilos responsivos */
@media (min-width: 1px) { 
  .r{
    margin-top: -160px;
  }

  .fondo_nav
  {
    width: 200px;
    position: relative;
    left: 45px;
    bottom: 70px;
    z-index: -1;
    opacity: .3;
  }
}

@media (min-width: 321px) { 
  .r{
    margin-top: -160px;
  }

  .fondo_nav
  {
    width: 200px;
    position: relative;
    left: 100px;
    bottom: 100px;
    z-index: -1;
    opacity: .3;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .fondo_nav
  {
    width: 200px;
    position: relative;
    left: 200px;
    bottom: 100px;
    z-index: -1;
    opacity: .3;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .r{
    margin-top: -240px;
  }
  .fondo_nav
  {
    width: 300px;
    position: relative;
    left: 200px;
    bottom: 140px;
    z-index: -1;
    opacity: .3;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   nav{ 
     height: 80px; 
    } 
    .r{
      margin-top: 0;
    }
  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }