<section class="container-fluid pt-0 mb-5" id="Galeria">
    <div class="py-5 mb-5 h-25 w-100 d-flex justify-content-center align-items-center flex-column header">
        <h2 class="w-100 pt-5 text-center text-dark">¡Celebra con nosotros!</h2>
        <img src="../../assets/img/separator-1.png" alt="">
        <p class="w-75 h4 text-dark text-center">
        Encuentre en nuestro restaurante excelentes espacios y servicios que le ayudarán a celebrar
        sus reuniones de trabajo y eventos sociales en un ambiente cálido y exclusivo para sus invitados.
        Nuestro personal especializado se encargará de la planificación completa de su evento,
        ya sean desayunos de trabajo, matrimonios, cócteles, coffee breaks o aniversarios,
        haremos de cada uno de ellos algo especial. <br>
        Servicios complementarios exclusivos
        </p>
    </div>

    <div class="container">
        <gallery [flexBorderSize]="5" [flexImageSize]="10" [galleryName]="'galeria'" [maxRowsPerPage]="100"
            (viewerChange)="yourNotificationFunction($event)">
        </gallery>
    </div>

</section>