<section class="row pt-0" id="Galeria">
    <div class="bg-dark py-5 mb-5 h-25 w-100 d-flex justify-content-center align-items-center flex-column">
        <h1 class="w-100 pt-5 text-center text-light">¡Celebra con nosotros!</h1>
        <p class="w-75 h4 text-light text-center">
        Encuentre en nuestro restaurante excelentes espacios y servicios que le ayudarán a celebrar
        sus reuniones de trabajo y eventos sociales en un ambiente cálido y exclusivo para sus invitados.
        Nuestro personal especializado se encargará de la planificación completa de su evento,
        ya sean desayunos de trabajo, matrimonios, cócteles, coffee breaks o aniversarios,
        haremos de cada uno de ellos algo especial. <br>
        Servicios complementarios exclusivos
        </p>
    </div>

    <div class="container page-top">



            <div class="row">
    
    
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                       
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"  class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid"  alt="">
                    </a>
                </div>
                
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                    </a>
                </div>
                
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                    </a>
                </div>
                
                 <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                    </a>
                </div>
                
                 <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                    </a>
                </div>
                
                 <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a href="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                    </a>
                </div>
                
                 <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                    </a>
                </div>
                
                
               
               
           </div>
    
         
          
    
        </div>

    <div class="mx-5 row">
            <div class="col-md-4 d-md-inline-block">
            <a href="assets/img/galeria1.JPG"
                data-size="1600x1067">
                <img src="../../assets/img/galeria1.JPG"
                class="img-fluid">
            </a>
            </div>
            <figure class="col-md-4 d-md-inline-block">
            <a href="assets/img/galeria2.JPG"
                data-size="1600x1067">
                <img src="assets/img/galeria2.JPG"
                class="img-fluid">
            </a>
            </figure>
            <figure class="col-md-4 d-md-inline-block">
            <a href="assets/img/galeria3.JPG"
                data-size="1600x1067">
                <img src="assets/img/galeria3.JPG"
                class="img-fluid">
            </a>
            </figure>
            <figure class="col-md-4 d-md-inline-block">
            <a href="assets/img/galeria4.jpg"
                data-size="1600x1067">
                <img src="assets/img/galeria4.jpg"
                class="img-fluid">
            </a>
            </figure>
            <figure class="col-md-4 d-md-inline-block">
            <a href="assets/img/galeria5.jpg"
                data-size="1600x1067">
                <img src="assets/img/galeria5.jpg"
                class="img-fluid">
            </a>
            </figure>
            <figure class="col-md-4 d-md-inline-block">
            <a href="assets/img/galeria6.jpg"
                data-size="1600x1067">
                <img src="assets/img/galeria6.jpg"
                class="img-fluid">
            </a>
            </figure>
    </div>
</section>