<section class="container mb-5" id="Menu">

    <div class="row">

      <div class="col-9 pt-3 pr-0 d-flex align-items-center">
        <p class="text-dark mb-0 mb-sm-3 mb-lg-5">RESTAURANTE MONTESACRO, EN EL CORAZÓN DEL SECTOR AMURALLADO</p>
      </div>

      <div class="col-3 pl-0 header_menu"></div>

    </div>

    <div class="container px-0 pt-3 pt-sm-5">
        <!-- Card -->
        <div class="card-deck">
            <div class="card mx-auto mx-sm-2 mx-md-3" style="width: 18rem;" *ngFor="let card of cards">
                <div class="card-title">
                    <h3 class="card-text text-center font-weight-bold">{{ card.name | uppercase }}</h3>
                </div>
                <img [src]="card.img" class="card-img-bottom" [alt]="card.name">
            </div>
        </div>
    </div>

</section>