/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    width: 100%;
    background-image: url(./assets/img/bakcground-img-1.jpg);
    /* font-family: 'UnifrakturMaguntia', cursive;
    font-family: 'Pirata One', cursive;
    font-family: 'Sancreek', cursive; */
    font-family: 'Roboto Mono', monospace;
}
html, body { height: 100%; }
