<section class="row parallax" id="Inicio">
    <div class="div_inicio_hijo col-12 col-lg-5 d-flex justify-content-center justify-content-lg-end align-items-center">
        <div class="div_inicio w-md-75">
            <p class="w-100 h1 text-light font-weight-bold">Comience su día con un café negro</p>
            <div class="d-flex justify-content-center justify-content-sm-end">
                <a routerLink="/Menu" class="btn btn-outline-light btn-rounded waves-effect w-50">Ver Menú</a>
            </div>
        </div>
    </div>
</section>
